<main class="container-fluid WK-background-light-1">
  <div class="container py-5">

    <form id="check-amazon" action="" method="post">
      <input type="text" name="amazon_id_to_check" id="amazon_id_to_check">
      <i class="fab fa-amazon fa-3x"></i> <input class="btn btn-warning" type="submit" value="Validate at Amazon.com">
      <small class="form-text text-muted">Important: do NOT enter references from amazon.es </small>
    </form>

    <script type="text/javascript">
      $("#check-amazon").submit(function(event) {
        event.preventDefault();
        
        //AJAX call
        $.ajax({
          url: "/products/amazoncheck/" + $("#amazon_id_to_check").val(),
          method: "GET",
          success: function (amazonResponse) {
            if (amazonResponse === "amazonerror") {
                console.log("This is AJAX at the browser console: API amazon validation error");
                $("#warning-message").removeClass("d-none");
            } else {
                console.log("AJAX says: okay, this is the amazonResponse from the Amazon´s API printed at the browser console:");
                console.log(amazonResponse);
                $("#new-product-button").removeClass("d-none");
                
                $("#id_amazon").val(amazonResponse.id_amazon);   
                $("#url_amazon").val(amazonResponse.url_amazon); 
                $("#name").val(amazonResponse.name); 
                $("#price").val(amazonResponse.price); 
                for (let d = 0; d < amazonResponse.description.length; d++){
                  $(`#description_${d}`).val(amazonResponse.description[d]); 
                };
                for (let p = 0; p < amazonResponse.images_array.length; p++){
                  $(`#images_array_${p}`).val(amazonResponse.images_array[p]); 
                };
            }
          },
          error: function (err) {
            console.log("This is AJAX at the browser console: something went fucking wrong with the Amazon´s API");
            console.log(err);
            $("#warning-message").removeClass("d-none");
    
          },
        })
      })
    </script> 

    <% if (typeof product !== 'undefined' && product.name ) { %>
    <form action="/products/<%= product.id %>/update" method="post">
    <% } else { %>
    <form action="/products/create" method="post">
    <% } %>

      <div id="warning-message" class="mt-3 d-none">
        <h4 class="display-5 WK-text-color2"><i class="fas fa-exclamation-triangle"></i> Oops... Reference not found at Amazon.com</h4>
      </div>
      <div id="new-product-button" class="form-actions mt-3 d-none">
        <button type="submit" class="btn btn-block btn-success">Create New Product</button>
      </div>

      <div class="form-group mt-5">
        <label for="category">Category</label>
        <select class="form-control" id="category" value="<%= product.category %>">
          <option>Toys</option>
          <option>Wear</option>
          <option>Unicorn_Stuff</option>
          <option>Decoration</option>
        </select>
      </div>
      
      <div class="form-group mt-5">
          <label for="id_amazon">Product ID at Amazon Store:</label>
          <input type="text" class="form-control" id="id_amazon" aria-describedby="Product Id at Amazon" value="<%= product.id_amazon %>">
          <small id="id_amazonHelp" class="form-text text-muted">Enter just the ID of the product at www.amazon.com</small>
        </div>
        <div class="form-group mt-2">
          <label for="url_amazon">Product URL in Amazon:</label>
          <input type="text" class="form-control" id="url_amazon" aria-describedby="Amazon URL" value="<%= product.url_amazon %>">
          <small id="url_amazonHelp" class="form-text text-muted">Enter the complete URL of the product at www.amazon.es</small>
        </div>
        <div class="form-group mt-2">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="product name" name="name" value="<%= product.name %>">
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" class="form-control" id="price" placeholder="product price" name="price" value="<%= product.price %>">
        </div>
        <div class="form-groupmt-2">
          <label for="description">description</label>
          <input type="text" class="form-control" id="description_0" name="description_0" value="<%= product.description[0] %>">
          <input type="text" class="form-control" id="description_1" name="description_1" value="<%= product.description[1] %>">
          <input type="text" class="form-control" id="description_2" name="description_2" value="<%= product.description[2] %>">
          <input type="text" class="form-control" id="description_3" name="description_3" value="<%= product.description[3] %>">
          <input type="text" class="form-control" id="description_4" name="description_4" value="<%= product.description[4] %>">
          <small class="form-text text-muted">Enter description lines for the product</small>       
        </div>
        <div class="form-groupmt-2">
          <label for="description">Images URLs</label>
          <input type="text" class="form-control" id="images_array_0" name="images_array_0" placeholder="Enter main URL picture for the product"><%= product.images_array[0] %></textarea>
          <input type="text" class="form-control" id="images_array_1" name="images_array_1" placeholder="Enter another URL picture for the product"><%= product.images_array[1] %></textarea>
          <input type="text" class="form-control" id="images_array_2" name="images_array_2" placeholder="Enter another URL picture for the product"><%= product.images_array[2] %></textarea>
          <input type="text" class="form-control" id="images_array_3" name="images_array_3" placeholder="Enter another URL picture for the product"><%= product.images_array[3] %></textarea>
          <input type="text" class="form-control" id="images_array_4" name="images_array_4" placeholder="Enter another URL picture for the product"><%= product.images_array[4] %></textarea>
        </div>
      
    </form>

  </div>
</main>

