<main class="container-fluid WK-background-light-1 p-0">

  <div class="container py-5 ">
  <% if (products.length) { %>

    <% if (category_tag) { %>
    <h3 class="h-3 WK-text-color2 my-3" >Showing just Mirabilias from Category: <%= category_tag%>!! </h3>
    <% } else { %>
    <h2 class="h-3 WK-text-color2 mb-5" >These are our Digital Mirabilias!!!!</h2>
    <% }; %>

    <div class="row card-group">
        <% products.forEach(product => { %>
            <div class=" col-md-4 col-sm-6 portfolio-item mb-4">

                <div class="card" style="padding: 2em">
                  <img class="card-img-top mh-75" src="<%= product.images_array[0] %>" alt="product <%= product.name %> image" style="object-fit: scale-down; height: 150px">
                  
                    <div class="card-body mh-25">
                      <h4 class="card-title text-truncate">
                        <a href="/products/<%=product._id%>">
                          <%= product.name %>
                        </a>
                      </h4>
                      <p class="card-text text-truncate"><%= product.description[0] %></p>
                      <button type="button" class="btn btn-link align-middle">Link</button>

                      <a class="btn redondo orange" href="#" role="button"><i class="fas fa-plus"></i></a>

                      <div style="font-size:3em; color:Tomato">
                        <i class="fas fa-heart"></i>
                        <span class="fa-layers-counter" style="background:Tomato">1,419</span>
                      </div>
                      
                    </div>
                </div>

            </div>
        <% }); %>
    </div>  
    
    <% } else { %>
    <h3 class="">Attention, there is no product created or the database could not be accessed!!!!!</h3>
    <% }; %>
  </div>
</main>
  